<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% render_section "HeadMeta", required: false %}
    <title>{% page_title Site.SiteName %}</title>
    {% resources type: "Meta" %}

    <!-- Bootstrap core CSS -->
    {% style name:"thecreativetheme-bootstrap-oc", version:"1" %}

    <!-- Font Awesome Icons -->
    {% style name:"thecreativetheme-vendor-font-awesome", version:"5" %}

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    {% style src:"~/TheCreativeTheme/css/creative.min.css", debug_src:"~/TheCreativeTheme/css/creative.css" %}
    {% style src:"~/TheCreativeTheme/vendor/magnific-popup/magnific-popup.css", debug_src:"~/TheCreativeTheme/vendor/magnific-popup/magnific-popup.css" %}

    <!-- Bootstrap core JavaScript -->
    {% script name:"thecreativetheme-vendor-jquery", at:"Foot" %}    
    {% script name:"thecreativetheme-vendor-bootstrap-bundle", at:"Foot" %}

    <!-- Plugin JavaScript -->
    {% script name:"thecreativetheme-vendor-jquery.easing", at:"Foot" %}    
    
    <!-- Contact form JavaScript -->

    <!-- Custom scripts for this template -->
    {% script src:"~/TheCreativeTheme/js/creative.min.js", debug_src:"~/TheCreativeTheme/js/creative.min.js", at:"Foot" %}

    {% resources type: "HeadScript" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}

</head>
    <body id="page-top" dir="{{ Culture.Dir }}">

        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ Site.SiteName }}</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_tag: "alias:main-menu" %}
            </div>
        </nav>

        {% render_section "Header", required: false %}
        <div class="container" id="main">
		    {% render_section "Messages", required: false %}
            {% render_section "Content" %}
        </div>
        {% render_section "Footer", required: false %}
        {% resources type: "FootScript" %}
    </body>
</html>