@model ProductPartViewModel

<div class="form-group">
    <label asp-for="Name">@T["Name"]</label>
    <input type="text" class="form-control content-preview-text content-caption-text" asp-for="Name" />
</div>
<div class="form-group">
    <label asp-for="Sku">@T["Sku"]</label>
    <input type="text" class="form-control content-preview-text content-caption-text" asp-for="Sku" />
</div>
<div class="form-group">
    <label asp-for="UnitPrice">@T["UnitPrice"]</label>
    <input type="text" class="form-control content-preview-text content-caption-text" asp-for="UnitPrice" />
</div>
<div class="form-group">
    <label asp-for="MySetting">@T[""]</label>
    <input type="text" class="form-control content-preview-text content-caption-text" asp-for="MySetting" />
</div>
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="Show" />
        <label class="custom-control-label" asp-for="Show">@T["Show"]</label>
    </div>
</div>
