@model Orchard.WebShop.Settings.ProductPartSettingsViewModel

<div class="form-group">
    <div class="row col-lg">
        <label asp-for="MySetting">@T["Setting of product"]</label>
        <input asp-for="MySetting" class="form-control" />
        <span class="hint">@T["The setting of product"]</span>
    </div>
</div>
