{% zone "Header" %}
<!-- Header -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">Your Favorite Source of Free Bootstrap Themes</h1>
            <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 font-weight-light mb-5">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
        </div>
    </div>
</header>
{% endzone %}
<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
	{{ Model.ContentItem.Content.HtmlBodyPart.Html | raw }}
  </div>
</section>
<!-- 
<section class="page-section bg-primary" id="about">
<div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">We've got what you need!</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
    </div>
    </div>
</div>
</section>
-->
{% if Model.ContentItem.Content.Services.ContentItems.size > 0 %}
  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider my-4">
      <div class="row">
        {% for service in Model.ContentItem.Content.Services.ContentItems %}
        <div class="col-lg-3 col-md-6 text-center">
            <i class="fas fa-4x {{ service.Service.IconClass.Text }} text-primary mb-4"></i>
            <h3 class="h4 mb-2">{{ service.DisplayText }}</h4>
            <p class="text-muted mb-0">{{ service.HtmlBodyPart.Html | raw }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

<!-- {{ Model.ContentItem.Content }} -->

{% if Model.ContentItem.Content.Portfolio.ContentItems.size > 0 %}
  <!-- Portfolio Section -->
  <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
      {% for project in Model.ContentItem.Content.Portfolio.ContentItems %}
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{{ project.Project.Image.Paths.first | asset_url }}">
            <img class="img-fluid" src="{{ project.Project.Thumbnail.Paths.first | asset_url }}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                {{ project.Project.Category.Text }}
              </div>
              <div class="project-name">
                {{ project.Project.TitlePart.Title }}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
      <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Download Now!</a>
    </div>
  </section>

<!-- Contact Section -->
<section class="page-section" id="contact">
<div class="container">
{% if Model.ContentItem.Content.Contact.ContentItems.size > 0 %}
	{% for contact in Model.ContentItem.Content.Contact.ContentItems %}		
		{{ contact.RawHtml.Content.Html | raw }}
	{% endfor %}
{% endif %}
  </div>
</section>
<!--
<section class="page-section" id="contact">
<div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
        <h2 class="mt-0">Let's Get In Touch!</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div>+1 (202) 555-0149</div>
    </div>
    <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>        
        <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
    </div>
    </div>
</div>
</section>
-->